@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>By using this site you are forfeiting any claim to privacy.<br/> You are aggreeing to the posibility of any/all of your data being sold to companies, individuals and governments domestic and foreign.<br/> We will not sell your data...<br />  for cheap </p>
